@media screen and (max-width: 768px) {
  #toggleText { display: none; }
}

@media screen and (max-width: 768px){
    #mIcon {max-width: 20vw !important; margin: auto; margin-top: -2rem !important;}
}

@media screen and (max-width: 768px){
  #champImg {max-width: 40vw !important; margin: auto;}
}

@media screen and (max-width: 768px){
  #champCard {display: flex !important; flex-direction: column !important; margin-top: 4rem;}
}

@media screen and (max-width: 768px){
  #roleCard {display: flex !important; flex-direction: column !important; margin: auto;}
}

@media screen and (min-width: 769px){
  #roleCard1 {position: absolute !important;}
  /* #roleCard {position: relative;} */
}

@media screen and (max-width: 768px){
  #rankedIcon {max-height: 100% !important;}
}

@media screen and (min-width: 769px){
  #ranked {padding-top: 15vh !important;}
}

body{
  font-family: 'Libre Baskerville', serif;
}

.r1-bg{
  background-image: url("lissandra-background.png");
  background-size: cover;
  background-position: center;
}

.text-black{
  color: black;
}

.text-shadow{
  text-shadow: 2px 2px 2px black;
}

.text-shadow-secondary{
  text-shadow: 2px 2px 2px #444;
}

.text-shadow-primary{
  text-shadow: 2px 2px 2px #375a7f;
}

.img-shadow{
  filter: drop-shadow(2px 2px 2px black);
}

.box-shadow{
  box-shadow: 2px 2px 2px black;
}

.bg-cstm{
  background-color: rgb(103, 158, 177);
}


.roleProgress{
  align-items: center !important;
  max-height: 6vh;
}

.champ-size{
  width: 100%;
  height: 100%;
}

.champ-space{
    display: flex;
    align-items: center;
    padding: 3%;
    text-align: center;
    justify-content: space-around

}

.text-teal{
  color: teal;
}

.mxvw100{
  max-width: 8%;
}

.w100vw{
  width: 100vw;
}

.sm-pd-l{
  padding-left: 5vw;
}

.mt-10{
  margin-top: 6rem !important;
}

.md-pd-l{
  padding-left: 15vw;
}

.md-pd-t{
  padding-top: 30vh !important;
}

.lg-mx-80per{
  max-height: 70%;
}

.md-mxvh{
  max-height: 10vh;
}

.mxvw90{
  max-width: 90vw;
}

.mr-30{
  margin-right: 30%;
}

.mr-59{
  margin-right: 59%;
}

header{
  z-index: 9999;
}

.nav-cstm{
  min-width: 100vw;
  top: 0;
  position: fixed;
}

.bbb{
  border-bottom: solid black;
}

.progress {
  display: -ms-flexbox;
  display: flex;
  height: 2rem;
  overflow: hidden;
  font-size: .75rem;
  background-color: #e9ecef;
  border-radius: .25rem;
  padding-left: 0;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.progress-bar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #007bff;
  transition: width .6s ease;
}
